{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<!-- Navigation -->
<section>
  <div class="container mt-10">
    <h1 class="h2 mb-3">Cart</h1>
    <!-- Breadcrumb -->
    <div class="flex items-center gap-3 mb-0">
      <a class="text-brand-gray" href="/">Home</a>
      <span class="text-brand-gray text-xs">/</span>
      <span class="text-brand-gray-400" href="/">Cart</span>
    </div>
  </div>
</section>

<section class="mt-10">
  <div class="container">
    <div class="grid lg:grid-cols-12 gap-10 mb-20">
      <div class="lg:col-span-7">
        <h2 class="h3 mb-6">Your cart</h2>
        {% if cart.items %}
          <div class="p-6 border border-brand-silver rounded-2xl">
            <div class="flex flex-col gap-6">
              {% for item in cart.items %}
                <cart-item data-key="{{ item.key }}">
                  <div class="flex gap-6 relative">
                    <div class="flex w-24 h-27">
                      {% if item.image %}
                        {{
                          item.image
                          | image_url: width: 150, height: 150
                          | image_tag: class: 'w-full h-full object-contain'
                        }}
                      {% endif %}
                    </div>
                    <div>
                      <h3 class="font-semibold text-base">
                        <a href="{{ item.url }}">{{- item.title }}</a>
                      </h3>
                      <div class="text-brand-gray text-sm">Size: M</div>
                      <div class="mt-5">
                        <quantity-input>
                          <button type="button" data-minus>&minus;</button>
                          <input type="number" value="1">
                          <button type="button" data-plus>&plus;</button>
                        </quantity-input>
                      </div>
                    </div>
                    <button
                      data-remove
                      class="absolute top-2 right-0 size-6 rounded-full flex justify-center items-center cursor-pointer"
                    >
                      <span class="size-4">
                        {{ 'icons/bin.svg' | inline_asset_content }}
                      </span>
                    </button>
                    <div class="flex items-center ml-auto">
                      <div class="text-right">
                        <div class="font-semibold">{{ item.final_price | money }}</div>
                        {% if item.original_price != item.final_price %}
                          {% if item.variant.compare_at_price > item.original_price %}
                            <div class="text-sm text-brand-gray">
                              <s>{{ item.variant.compare_at_price | money }}</s>
                            </div>
                          {% endif %}
                        {% else %}
                          {% if item.variant.compare_at_price > item.original_price %}
                            <div class="text-sm text-brand-gray">
                              <s>{{ item.variant.compare_at_price | money }}</s>
                            </div>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </cart-item>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="py-6 text-center text-brand-gray">Cart is empty</div>
        {% endif %}
      </div>
      <div class="lg:col-span-5">
        <h2 class="h3 mb-6">Order summary</h2>
        <div class="p-6 border border-brand-silver rounded-2xl">
          <div class="flex flex-col gap-2 mb-6">
            <div class="flex justify-between gap-6">
              <div class="text-brand-gray">Subtotal</div>
              <div class="text-brand-gray font-semibold">$251.25</div>
            </div>
            <div class="flex justify-between gap-6">
              <div class="text-brand-gray">Discount</div>
              <div class="text-brand-gray font-semibold">(-25%) $83.75</div>
            </div>
          </div>
          <div class="mb-6">
            <div class="flex justify-between gap-6">
              <div class="font-semibold">Total</div>
              <div class="font-semibold">$251.25</div>
            </div>
          </div>
          <div class="flex gap-6 mb-6 relative">
            <input type="text" class="text-input w-full py-3.5" placeholder="Add promo code">
            <button class="button medium rounded-lg py-3 absolute top-1 right-1 text-sm cloud">Apply</button>
          </div>
          <div>
            <button class="button medium w-full">Go to Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<form action="{{ routes.cart_url }}" method="post">
  <table>
    {% for item in cart.items %}
      <tr>
        <td>
          {% render 'image', image: item.image, url: item.url %}
        </td>
        <td>
          <p>{{ item.product.title }}</p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="{{ 'cart.update' | t }}">
        </td>
      </tr>
    {% endfor %}
  </table>

  <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
</form>

{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
