{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<!-- Collection -->
<section class="mt-10">
  <div class="container">
    <div class="grid lg:grid-cols-[310px_auto] gap-5">
      <product-filter data-collection-handle="{{ collection.handle }}" data-section-id="{{ section.id }}">
        <div class="">
          <div class="hide-scrollbar">
            <form>
              <fieldset>
                {%- for filter in collection.filters -%}
                  <div class="border-b border-brand-silver mb-6 pb-2">
                    <h3 class="text-lg mb-6">{{ filter.label }}</h3>
                    <div class="flex flex-col gap-4 mb-6">
                      {% if filter.type == 'list' or filter.type == 'boolean' %}
                        {% for value in filter.values %}
                          <div class="flex gap-2 items-center">
                            <input
                              class="filter-input"
                              type="checkbox"
                              name="{{ value.param_name }}"
                              value="{{ value.value }}"
                              {% if value.active %}
                                checked
                              {% endif %}
                              id="filter-{{ filter.label|handleize }}-{{ value.label|handleize }}"
                            >
                            <label
                              for="filter-{{ filter.label|handleize }}-{{ value.label|handleize }}"
                              class="text-sm text-brand-gray font-normal leading-none m-0 cursor-pointer block"
                            >
                              {{- value.label -}}
                            </label>
                          </div>
                        {% endfor %}
                      {% elsif filter.type == 'price_range' %}
                        <price-slider>
                          <div
                            data-slider
                            data-min="{{ filter.range_min | divided_by: 100 }}"
                            data-max="{{ filter.range_max | divided_by: 100 }}"
                            data-min-value="
                              {%- if filter.min_value.value -%}
                                {{- filter.min_value.value | divided_by: 100 -}}
                              {%- else -%}
                                0
                              {%- endif -%}
                            "
                            data-max-value="
                              {%- if filter.max_value.value -%}
                                {{- filter.max_value.value | divided_by: 100 -}}
                              {%- else -%}
                                {{-filter.range_max | divided_by: 100-}}
                              {%- endif -%}
                            "
                          ></div>
                          <div class="flex gap-6 items-center mt-2">
                            <div class="flex flex-col gap-2 w-full">
                              <div class="text-brand-gray">Min Price</div>
                              <div class="flex w-full relative">
                                <input
                                  type="number"
                                  class="filter-input text-input rounded-full w-full pr-7"
                                  price-min
                                  min="{{ filter.range_min | divided_by: 100 }}"
                                  max="{{ filter.range_max | divided_by: 100 }}"
                                  {% if filter.min_value.value %}
                                    value="{{ filter.min_value.value | divided_by: 100 }}"
                                  {% else %}
                                    value="0"
                                  {% endif %}
                                  name="{{ filter.min_value.param_name }}"
                                >
                                <span class="absolute right-3 top-2.5 font-semibold text-brand-gray">$</span>
                              </div>
                            </div>
                            <div class="flex flex-col gap-2 w-full">
                              <div class="text-brand-gray">Max Price</div>
                              <div class="flex w-full relative">
                                <input
                                  type="number"
                                  class="filter-input text-input rounded-full w-full pr-7"
                                  price-max
                                  min="{{ filter.range_min | divided_by: 100 }}"
                                  max="{{ filter.range_max | divided_by: 100 }}"
                                  name="{{ filter.max_value.param_name }}"
                                  {% if filter.max_value.value %}
                                    value="{{ filter.max_value.value | divided_by: 100 }}"
                                  {% else %}
                                    value="{{ filter.range_max | divided_by: 100 }}"
                                  {% endif %}
                                >
                                <span class="absolute right-3 top-2.5 font-semibold text-brand-gray">$</span>
                              </div>
                            </div>
                          </div>
                        </price-slider>
                      {% endif %}
                    </div>
                  </div>
                {%- endfor -%}
                <div class="flex justify-center w-full lg:hidden">
                  <button class="button medium close-product-filter" type="button">Close</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </product-filter>
      <div>
        <h1 class="h2">{{ collection.title }}</h1>
        <div class="flex justify-between items-center gap-4 py-2 mb-2">
          <div class="hidden lg:block text-sm text-brand-gray">
            <div>
              Showing
              {{ collection.products_count }}
              of {{ collection.all_products_count }} Products
            </div>
          </div>
          <button class="button cloud px-3 bg-white text-brand-gray lg:hidden open-product-filter">
            <span class="[&_svg]:size-2.5">
              {{ 'icons/filter.svg' | inline_asset_content }}
            </span>
            <span>Filters</span>
          </button>
          <div class="flex justify-end items-center gap-4 text-sm text-brand-gray">
            <div class="flex gap-2 items-center">
              <span class="hidden sm:block">Sort by:</span>
              <select name="sort" class="sort select sort ml-auto lg:ml-0">
                {% for option in collection.sort_options %}
                  <option
                    value="{{ option.value }}"
                    {% if option.value == collection.sort_by %}
                      selected
                    {% endif %}
                  >
                    {{ option.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% paginate collection.products by 12 %}
          {% if collection.products.size > 0 %}
            <div id="collection-products" class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-5">
              {% for product in collection.products %}
                {% render 'product-card', product: product %}
              {% endfor %}
            </div>
            <div class="pagination">
              {{- paginate | default_pagination -}}
            </div>
          {% else %}
            <div class="py-2">
              <p class="text-sm text-brand-gray-400 text-center">No products found</p>
            </div>
          {% endif %}
        {% endpaginate %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection",
  "settings": [],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
