<!-- Hero -->
<hero-slider>
  <section class="bg-brand-cloud">
    <div class="container">
      <div class="splide hero-splide">
        <div class="splide__track">
          <div class="splide__list">
            {% for selected_collection in section.settings.collections %}
              {% assign prices = selected_collection.products | map: 'price_min' %}
              {% assign lowest_price = prices | sort | first %}
              <div class="splide__slide grid grid-cols-2 h-70 md:h-120 lg:h-150">
                <div class="relative flex items-center">
                  <div class="flex flex-col gap-2 md:gap-3 lg:gap-6">
                    <h4 class="text-brand-gray font-medium text-sm sm:text-md lg:text-xl">
                      Starting from: {{ lowest_price | money }}
                    </h4>
                    <div>
                      <h2 class="h1 leading-[1]">{{ selected_collection.title }}</h2>
                      <p>{{ selected_collection.metafields.custom.short_description.value }}</p>
                    </div>
                    <div class="button-container">
                      <a href="{{ selected_collection.url }}" class="button large shadow">
                        <span>Explore now</span>
                        {{ 'icons/search.svg' | inline_asset_content }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="relative">
                  {% if selected_collection.image %}
                    {{
                      selected_collection.image
                      | image_url: width: 1024
                      | image_tag: class: 'absolute top-0 left-0 w-full h-full object-contain object-right'
                    }}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <ul class="splide__pagination absolute! bottom-3!"></ul>
      </div>
    </div>
  </section>
</hero-slider>
{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
