<!-- Product -->
{%- assign min = 1 -%}
{%- assign max = 100 -%}
{%- assign diff = max | minus: min -%}
{%- assign random_number = 'now' | date: '%N' | modulo: diff | plus: min -%}
<section class="mt-10" section-id="{{ section.id }}" data-main-product>
  <div class="container">
    <product-form
      data-section-id="{{ section.id }}"
      data-price="{{ product.selected_or_first_available_variant.price }}"
      data-product-handle="{{ product.handle }}"
      data-currency="{{- cart.currency.symbol -}}"
    >
      {% form 'product', product %}
        <fieldset>
          <input type="hidden" name="id" id="variant-id" value="{{ product.selected_or_first_available_variant.id }}">
          <div class="grid lg:grid-cols-7 gap-8">
            <div class="lg:col-span-4 grid grid-cols-[50px_auto] sm:grid-cols-[60px_auto] md:grid-cols-[70px_auto] lg:grid-cols-[80px_auto] xl:grid-cols-[90px_auto] 2xl:grid-cols-[140px_auto] h-60 sm:h-80 md:h-100 lg:h-160 gap-2 sm:gap-3 md:gap-4 lg:gap-6">
              <div class="product-thumbnail-slider splide h-60 sm:h-80 md:h-100 lg:h-160">
                <div class="splide__track h-full!">
                  <ul class="splide__list flex! flex-col!">
                    {% if product.selected_or_first_available_variant.metafields.custom.variant_images.value.size > 0 %}
                      {% for image in product.selected_or_first_available_variant.metafields.custom.variant_images.value %}
                        <li class="splide__slide inline-block w-full rounded-2xl overflow-hidden border! p-0.5 border-transparent [&.is-active]:border-brand-blue!">
                          <span
                            data-large="{{  image|image_url: width: 1024, height: 1024}}"
                            class=""
                          >
                            {{
                              image
                              | image_url: width: 1024, height: 1024, crop: 'top'
                              | image_tag: class: 'w-full h-full object-cover rounded-2xl'
                            }}
                          </span>
                        </li>
                      {% endfor %}
                    {% else %}
                      {% for image in product.images %}
                        <li class="splide__slide inline-block w-full rounded-2xl overflow-hidden border! p-0.5 border-transparent [&.is-active]:border-brand-blue!">
                          <span
                            data-large="{{  image|image_url: width: 1024, height: 1024}}"
                            class=""
                          >
                            {{
                              image
                              | image_url: width: 1024, height: 1024, crop: 'top'
                              | image_tag: class: 'w-full h-full object-cover rounded-2xl'
                            }}
                          </span>
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </div>
              <div class="min-h-0 product-main-slider splide h-60 sm:h-80 md:h-100 lg:h-160">
                <div class="splide__track">
                  <ul class="splide__list">
                    {% if product.selected_or_first_available_variant.metafields.custom.variant_images.value.size > 0 %}
                      {% for image in product.selected_or_first_available_variant.metafields.custom.variant_images.value %}
                        <li class="splide__slide h-60 sm:h-80 md:h-100 lg:h-160">
                          {{
                            image
                            | image_url: width: 1024, height: 1024, crop: 'top'
                            | image_tag:
                              class: 'w-full h-full object-contain lg:object-cover object-top rounded-2xl cursor-pointer'
                          }}
                        </li>
                      {% endfor %}
                    {% else %}
                      {% for image in product.images %}
                        <li class="splide__slide h-60 sm:h-80 md:h-100 lg:h-160">
                          {{
                            image
                            | image_url: width: 1024, height: 1024, crop: 'top'
                            | image_tag:
                              class: 'w-full h-full object-contain lg:object-cover object-top rounded-2xl cursor-pointer'
                          }}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="lg:col-span-3">
              <div class="border border-brand-silver rounded-2xl p-8">
                <h1 class="text-xl md:text-2xl mb-4" data-title>{{ product.title }}</h1>
                <div class="flex gap-2 justify-between mb-2">
                  <div class="flex gap-2">
                    <span>
                      <span class="[&_svg]:size-5 text-brand-yellow">
                        {{ 'icons/star.svg' | inline_asset_content }}
                      </span>
                    </span>
                    <span class="font-semibold text-brand-gray-400">4.9</span>
                    <span>·</span>
                    <a href="#" class="font-medium text-brand-gray-400 underline">124 reviews</a>
                  </div>
                  <div class="flex flex-col gap-0.5">
                    <span class="font-semibold text-xl md:text-2xl">
                      {{- product.selected_or_first_available_variant.price | money -}}
                    </span>
                    {% if product.selected_or_first_available_variant.compare_at_price
                        > product.selected_or_first_available_variant.price
                    %}
                      <span class="text-sm text-brand-gray-400 text-right">
                        <s>{{- product.selected_or_first_available_variant.compare_at_price | money -}}</s>
                      </span>
                      <span class="text-right mb-3">
                        <span class="inline-block mt-1 bg-rose-200 text-rose-700 rounded-full text-12 py-1.5 px-3 leading-none"
                          >&dash;
                          {{-
                            product.selected_or_first_available_variant.compare_at_price
                            | minus: product.selected_or_first_available_variant.price
                            | times: 100.0
                            | divided_by: product.selected_or_first_available_variant.compare_at_price
                            | round
                          -}}
                          %</span
                        >
                      </span>
                    {% endif %}
                  </div>
                </div>
                <div>
                  <fieldset>
                    <input
                      type="hidden"
                      name="id"
                      id="variant-id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                    >
                    {% unless product.has_only_default_variant %}
                      {% for option in product.options_with_values %}
                        <div class="mb-2">
                          <div class="font-semibold mb-2">{{ option.name }}</div>
                          <div class="flex flex-wrap gap-2">
                            {% for value in option.values %}
                              {% if option.name == 'Color' %}
                                <div class="radio-button image">
                                  <input
                                    data-variant-input
                                    type="radio"
                                    value="{{ value.variant.id }}"
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    {% unless value.variant.available %}
                                      disabled
                                    {% endunless %}
                                    name="{{ option.name | handleize }}"
                                    id="{{ random_number }}-{{ option.name | handleize }}-{{ value | handleize }}"
                                  >
                                  <label
                                    for="{{ random_number }}-{{ option.name | handleize }}-{{ value | handleize }}"
                                    style="
                                      {%- if value.swatch.image -%}
                                        background-image: url({{ value.swatch.image| image_url: width: 50 }})
                                      {%- else -%}
                                      background-color: {{ value.swatch.color }};
                                      {%- if value == 'Yellow' -%}
                                      background-image: url({{ product.metafields.custom.yellow_color_image | image_url: width: 200, height: 200 }})
                                      {%- elsif value == 'Blue' -%}
                                        background-image: url({{ product.metafields.custom.blue_color_image | image_url: width: 200, height: 200 }})
                                      {%- elsif value == 'Red' -%}
                                        background-image: url({{ product.metafields.custom.red_color_image | image_url: width: 200, height: 200 }})
                                      {%- endif -%}
                                      {%- endif -%}
                                    "
                                    title="{{ value }}"
                                  ></label>
                                </div>
                              {% else %}
                                <div class="radio-button">
                                  <input
                                    data-variant-input
                                    type="radio"
                                    value="{{ value.variant.id }}"
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    {% unless value.variant.available %}
                                      disabled
                                    {% endunless %}
                                    name="{{ option.name | handleize }}"
                                    id="{{ random_number }}-{{ option.name | handleize }}-{{ value | handleize }}"
                                  >

                                  <label for="{{ random_number }}-{{ option.name | handleize }}-{{ value | handleize }}">
                                    {{- value -}}
                                  </label>
                                </div>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endfor %}
                    {% endunless %}
                    <div class="flex justify-between gap-2 items-center mb-8">
                      <div>
                        <quantity-input>
                          <button type="button" data-minus>&minus;</button>
                          <input
                            type="number"
                            name="quantity"
                            value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                            min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                            {% if product.selected_or_first_available_variant.quantity_rule.max %}
                              max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                            {% endif %}
                          >
                          <button type="button" data-plus>&plus;</button>
                        </quantity-input>
                      </div>
                      <div>
                        <button
                          data-add-to-cart
                          class="button lg:h-13"
                          {% unless product.selected_or_first_available_variant.available %}
                            disabled
                          {% endunless %}
                        >
                          {{ 'icons/basket.svg' | inline_asset_content }}
                          <span>
                            {% if product.selected_or_first_available_variant.available %}
                              Add to cart
                            {% else %}
                              Sold out
                            {% endif -%}
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="flex flex-col gap-2">
                      <div class="flex flex-col gap-2 mb-2 border-b border-brand-silver text-brand-gray pb-4">
                        <div class="flex justify-between">
                          <span
                            ><span>
                              {{- product.selected_or_first_available_variant.price | money -}}
                            </span>
                            x <span data-quantity>1</span></span
                          >

                          <span
                            ><span data-sub-total>
                              {{- product.selected_or_first_available_variant.price | money -}}
                            </span></span
                          >
                        </div>
                        <div class="flex justify-between">
                          {%- if cart.taxes_included -%}
                            <span>Tax included.</span>
                          {%- else -%}
                            <span>Tax calculated at checkout.</span>
                          {%- endif -%}
                        </div>
                      </div>
                      <div class="flex justify-between font-semibold text-brand-black">
                        <span>Total</span>
                        <span>
                          <span data-total>
                            {{- product.selected_or_first_available_variant.price | money -}}
                          </span></span
                        >
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      {% endform %}
    </product-form>
  </div>
</section>

<image-viewer-window class="hidden in-[.image-viewer-open]:flex">
  <div class="">
    <div>
      <main>
        {% if product.selected_or_first_available_variant.metafields.custom.variant_images.value.size > 0 %}
          {% for image in product.selected_or_first_available_variant.metafields.custom.variant_images.value %}
            {{ image | image_url: width: 1024, height: 1024, crop: 'top' | image_tag }}
          {% endfor %}
        {% else %}
          {% for image in product.images %}
            {{ image | image_url: width: 1024, height: 1024, crop: 'top' | image_tag }}
          {% endfor %}
        {% endif %}
      </main>
      <nav>
        <div>
          {% if product.selected_or_first_available_variant.metafields.custom.variant_images.value.size > 0 %}
            {% for image in product.selected_or_first_available_variant.metafields.custom.variant_images.value %}
              {{ image | image_url: width: 256, height: 256, crop: 'top' | image_tag }}
            {% endfor %}
          {% else %}
            {% for image in product.images %}
              {{ image | image_url: width: 256, height: 256, crop: 'top' | image_tag }}
            {% endfor %}
          {% endif %}
        </div>
      </nav>
    </div>
    <!-- <button class="close">&times;</button> -->
  </div>
</image-viewer-window>

{% schema %}
{
  "name": "Product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
