{% comment %}
  This section is used in the search template to render search results for
  products, articles, and pages.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/search
{% endcomment %}
<section class="mt-10">
  <div class="container">
    {% render 'breadcrumb' %}
    <h1 class="h2 mb-3">Search</h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        <p class="text-sm text-brand-gray-400 text-center">{{ 'search.no_results_html' | t: terms: search.terms }}</p>
      {% else %}
        {% paginate search.results by 3 %}
          <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-3 lg:gap-5">
            {% for result in search.results %}
              {% if result.object_type == 'product' %}
                {% render 'product-card', product: result %}
              {% else %}
                {{ result.object_type | json }}
                {{ result.title | json }}
                <div class="relative border border-brand-silver-400 rounded-2xl overflow-clip group">
                  {%- if result.featured_image %}
                    <a href="{{ result.url }}">
                      <img
                        src="{{ result.featured_image | image_url: width: 340, height: 300, crop: 'center' }}"
                        alt="Product image"
                        width="300"
                        height="340"
                      >
                    </a>
                  {% else %}
                    <span class="block w-85 h-75"></span>
                  {% endif %}
                  <div
                    class="absolute inset-0 w-full h-full bg-black/40 opacity-0 group-hover:opacity-100 transition-all pointer-events-none"
                  ></div>
                  <div class="w-full flex flex-col gap-2 absolute -bottom-full transition-all group-hover:bottom-0 z-1 p-4 text-white">
                    <h5>
                      <a href="{{ result.url }}">{{ result.title }}</a>
                    </h5>
                    {% if result.description %}
                      <p class="text-sm">{{ result.description | strip_html | truncatewords: 15 }}</p>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="pagination">{{ paginate | default_pagination }}</div>
        {% endpaginate %}
      {% endif %}
    {% endif %}
  </div>
</section>
{% schema %}
{
  "name": "t:general.search",
  "settings": []
}
{% endschema %}
